
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
  }
body {
    font-family: Poppins, sans-serif;
    background-color: #1a1a1a;
  }
  
  .rings {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    /* margin-left: 490px; */
  }
  
  .percent1,
  .percent2,
  svg,
  circle {
    width: 160px;
    height: 160px;
  }
  
  circle {
    fill: none;
    stroke-width: 10;
    transform: translate(10px, 10px);
    /* transform-origin: center;
    transform: rotate(-90deg); */
    stroke-dasharray: 440;
    stroke-linecap: round;
  }
  
  circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #424242;
  }
  
  .percent1 circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    stroke: gold;
    animation: percent 1.5s linear;
    animation-delay: 1s;
  }
  
  .percent2 circle:nth-child(2) {
    stroke-dashoffset: calc(0);
    stroke: salmon;
    animation: percent 1.8s linear;
    animation-delay: 1.2s;
  }
  .percent2{
    /* background-color: aquamarine; */
  }
  .number {
    position: absolute;
    right: 0;
    /* top: 50%;
    left: 50%; */
    /* color: #fff; */
    /* z-index: 2; */
  }
  
  h2 {
    font-size: 48px;
  }
  
  span {
    font-size: 24px;
    opacity: 0.7;
  }
  
  .percent1 span {
    color: gold;
  }
  
  .percent2 span {
    color: salmon;
  }
  
  @keyframes percent {
    0% {
      stroke-dashoffset: 0;
      stroke-width: 0;
    }
  }
  